<footer class="footer hidden-print">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
          <div class="col-lg-3">
            <div class="social">

              <a href="https://www.linkedin.com/in/mattpasiewicz" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>

              <a href="https://github.com/mattpaz" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              <a href="https://twitter.com/autodidactic1" target="_blank">
                  <i class="fa fa-twitter"></i>
              </a>

              <a href="http://micro.moda/index.xml" class="">
                <i class="fa fa-rss"></i>
              </a>

            </div>
          </div>
          <div class="col-lg-9">
            In addition to serving as my personal home for thoughts, insights and observations, this site houses a range of snapshots of sites I'm either interested in or want to profile. It serves as a proving ground for various ideas swirling around my head.
          </div>
      </div>
  </div>
  <script src="{{ .Site.BaseUrl }}js/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>

  {{ partial "ga.html" . }}

</footer>

</body>
</html>
