<div class="navbar-header navbar-inverse">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
   </button>
   <a style="display: none;" class="navbar-brand" href="/">MicroModa</a>
 </div>
<div class="head_sub">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="ddactive"><a href="/">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="/blog">Blog</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Organizations <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
            <li class="labeled_divider">View</li>
              <li><a href="/orgs">All Organizations</a></li>
              <li><a href="/Locations">All Locations</a></li>
              <li class="labeled_divider">Educational&nbsp;Filters</li>
              <li><a href="/CarnegieClassification">Carnegie Classifications</a></li>
              <li><a href="/Control">Institutional Types</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Snapshots <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/snapshots">All Snapshots</a></li>
              <li><a href="/Server">By Web Server</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/about/platform_considerations/">Platform Considerations</a></li>
              <li><a href="/about/todo/">Next Steps</a></li>
              <li class="divider"></li>
              <li><a href="/about/contact">Contact</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
