{{ partial "header.html" . }}

<div class="main">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" role="main">
      <div class="row browse">
        <div class="col-sm-6" style="text-align: center;">
          <a class="btn btn-lg" href="/orgs"><i class="fa fa-university fa-lg"></i> Organizations</a>
        </div>
        <div class="col-sm-6" style="text-align: center;">
          <a class="btn btn-lg" href="/snapshots"> Snapshots <i class="fa fa-file fa-lg"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
